*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:900px;
    display:flex;
    background:#fff;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

/* Left Section */

.left{
    width:50%;
    background:#4f46e5;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:50px;
}

.left h1{
    margin-bottom:40px;
    font-size:40px;
}

.left p{
    line-height:1.8;
    font-size:20px;
    margin-bottom:40px;
}

.left button{
    background:#7b6cff;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
}

.left button:hover{
    background:#6c5ce7;
}

/* Right Section */

.right{
    width:50%;
    padding:40px;
}

.right h1{
    text-align:center;
    margin-bottom:30px;
    font-size:45px;
}

.input-box{
    display:flex;
    align-items:center;
    border:1px solid #ccc;
    margin-bottom:20px;
    padding:12px;
}

.input-box i{
    color:#777;
    margin-right:10px;
}

.input-box input{
    border:none;
    outline:none;
    width:100%;
    font-size:16px;
}

.signup-btn{
    width:100%;
    padding:15px;
    background:#4f46e5;
    color:white;
    border:none;
    cursor:pointer;
    font-size:18px;
    margin-top:10px;
}

.signup-btn:hover{
    background:#4338ca;
}

.social-text{
    text-align:center;
    margin:30px 0 20px;
    font-size:20px;
}

.social-icons{
    display:flex;
    justify-content:center;
    gap:25px;
}

.social-icons a{
    color:#555;
    font-size:32px;
    transition:.3s;
}

.social-icons a:hover{
    color:#4f46e5;
}

/* Responsive */

@media(max-width:768px){

.container{
    width:95%;
    flex-direction:column;
}

.left,
.right{
    width:100%;
}

.left{
    padding:40px 25px;
}

.left h1{
    font-size:32px;
}

.left p{
    font-size:18px;
}

.right{
    padding:30px 20px;
}

}